<script id="item-autocomplete-livro" type="text/x-handlebars-template">
	<div class="upf-tabela-item">
		<div class="upf-tabela-item__coluna  upf-tabela-item--detalhes">
			<span class="upf-tabela-livro-titulo">Título: {{titulo}}</span>
			<span>Sku: </span><span class="label  label-default">{{sku}}</span>
		</div>
	</div>
</script>	
