<script id="tabela-pesquisa-clientes-mdl" type="text/x-handlebars-template">
	<div class="table-responsive  upf-tabela-simples" style="margin-top: 15px">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th class="col-sm-2">Nome</th>
					<th class="col-sm-2">Cep</th>
				</tr>
			</thead>
			<tbody>
				{{#if .}}
					{{#each .}}
						<tr onclick="selecionaCliente({{id}},'{{nome}}');">
							<td>{{nome}}</td>
							<td>{{cep}}</td>
 						</tr>
					{{/each}}
				{{else}}
					<tr>
						<td colspan="2">Nenhum cliente encontrado</td>
					</tr>
				{{/if}}
			</tbody>
		</table>
	</div>
</script>