<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Cadastro de emprestimo</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}">
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}">
</head>

<body>
	<section layout:fragment="conteudo">
	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Cadastro de emprestimo</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="POST" th:action="@{/emprestimos/novo}" th:object="${emprestimo}">
				<upf:message/>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-tag  fa-3x"></i>
							</div>
							<div class="aw-box__value" th:text="*{emprestimoStatus.descricao}">Retirado</div>
							<div class="aw-box__title">Status</div>
						</div>
					</div>
					
					<div class="col-sm-4" th:if="*{id != null}">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-calendar  fa-3x"></i>
							</div>
							<div class="aw-box__value">
								<span class="js-tooltip" th:text="*{{dataDevolucao}}">17/08/2019</span>
							</div>
							<div class="aw-box__title">Devolução</div>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="form-group  col-sm-4  upf-required">
						<label class="control-label" for="nomeCliente">Cliente</label>
						<div class="input-group">
					      <input id="nomeCliente" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o cliente"/>
					      <input id="idCliente" type="hidden" th:field="*{cliente}"/>
					      <span class="input-group-btn">
					        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
					        		data-toggle="modal" data-target="#pesquisaClienteMdl">
					        	<i class="glyphicon  glyphicon-search"></i>
					        </button>
					      </span>
					    </div>
					</div>
					
					<div class="form-group  col-sm-4 upf-required">
						<label class="control-label" for="dataDevolucao">Devolução</label>
						<div class="input-group">
		      				<div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div> 
							<input type="date" maxlength="14" id="dataLimite" th:field="*{dataLimite}"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas-emprestimo">
						  <li role="presentation" class="active"><a href="#livros">Livros</a></li>
						</ul>
					</div>
				</div>
				
				<div class="tab-content">
					<div class="tab-pane active" id="livros">
	
						<div class="row">
							<div class="form-group  col-lg-12">
								<input type="text" class="form-control  js-sku-titulo-livro-input" id="livro"
									   placeholder="Pesquise e adicione o livro pelo SKU ou título" autofocus="autofocus" />
							</div>
						</div>
						
						<div class="upf-tabela-livros  js-tabela-livros-container">

							<div class="upf-tabela-item">
								<div class="upf-tabela-livros__vazio">
									<i class="glyphicon  glyphicon-shopping-cart"></i>  
									<span>Você ainda não adicionou nenhum livro.</span>
 								</div>
							</div>
							
						</div>
						
					</div>
				</div>
				
				<div class="row  upf-emprestimo-control">
					<div class="col-lg-12">
						<div class="btn-group">
						  <button type="submit" class="btn  btn-primary">Salvar</button>
						  <button type="button" class="btn  btn-primary  dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  
						  <ul class="dropdown-menu">
						    <li><a href="#">Não coloquei nada aqui nem precisa olhar</a></li>
<!-- 						    <li><a href="#">Salvar e enviar por e-mail</a></li> -->
						  </ul>
						</div>
					
						<a class="btn  btn-danger" th:href="@{/emprestimos}">Cancelar</a>
					</div>
				</div>
			</form>
		</div>

		<th:block th:replace="cliente/PesquisaClienteMdl :: pesquisaClienteMdl"></th:block>
		<th:block th:replace="handlebars/ItemAutocompleteLivro"></th:block>
	</section>
</body>
</html>