<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Cadastro de emprestimo</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}">
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}">
</head>

<body>
	<section layout:fragment="conteudo">
	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Cadastro de emprestimo</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="POST" th:action="@{/emprestimos/novo}" th:object="${emprestimo}">
				<upf:message/>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-tag  fa-3x"></i>
							</div>
							<div class="aw-box__value" th:text="*{emprestimoStatus.descricao}">Retirado</div>
							<div class="aw-box__title">Status</div>
						</div>
					</div>
					
					<div class="col-sm-4" th:if="*{id != null && dataDevolucao != null}">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-calendar  fa-3x"></i>
							</div>
							<div class="aw-box__value">
								<span class="js-tooltip" th:text="*{{dataDevolucao}}">17/08/2019</span>
							</div>
							<div class="aw-box__title">Devolução</div>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="form-group  col-sm-4  upf-required">
						<label class="control-label" for="nomeCliente">Cliente</label>
						<div class="input-group">
					      <input id="nomeCliente" type="text" readonly="readonly" class="form-control" th:placeholder="*{cliente.nome}"/>
					      <span class="input-group-btn">
					        <button disabled="disabled" class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
					        		data-toggle="modal" data-target="#pesquisaClienteMdl">
					        	<i class="glyphicon  glyphicon-search"></i>
					        </button>
					      </span>
					    </div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-lg-12">
						<ul class="nav nav-tabs  js-abas-emprestimo">
						  <li role="presentation" class="active"><a href="#livros">Livros</a></li>
						</ul>
					</div>
				</div>
				
				<div class="tab-content">
					<div class="tab-pane active" id="livros">
						
						<div class="upf-tabela-livros  js-tabela-livros-container">
							<div class="upf-tabela-item" th:each="livroEmprestimo : *{livros}">
								<div class="upf-tabela-item__coluna  upf-tabela-item__coluna--detalhes">
									<span class="upf-tabela-livro-titulo" th:text="${livroEmprestimo.livro.titulo}">Sítio do Pica-Pau Amrelo</span>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="row  upf-emprestimo-control">
					<div class="col-lg-12">
						<div class="btn-group">
						  <a type="submit" class="btn  btn-primary" th:href="@{/emprestimos}">Retornar</a>
						</div>
					
					</div>
				</div>
			</form>
		</div>

		<th:block th:replace="cliente/PesquisaClienteMdl :: pesquisaClienteMdl"></th:block>
		<th:block th:replace="handlebars/ItemAutocompleteLivro"></th:block>
	</section>
</body>
</html>