<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Pesquisa de emprestimos</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de emprestimo</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/emprestimos/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo emprestimo</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
<!-- 			<form method="GET" th:object="${emprestimoFilter}"> -->
				
<!-- 				<div class="row"> -->
<!-- 					<div class="col-sm-6  form-group"> -->
<!-- 						<label for="valorDe">Data de empréstimo:</label> -->
<!-- 						<div class="form-inline"> -->
<!-- 							<label for="dataDe" class="aw-form-label-between">De</label> -->
<!-- 							<input type="text" class="form-control  aw-form-control-inline-sm" id="dataDe" th:field="*{dataDe}"/> -->
<!-- 							<label for="dataAte" class="aw-form-label-between">até</label> -->
<!-- 							<input type="text" class="form-control  aw-form-control-inline-sm" id="valorAte" th:field="*{dataAte}"/> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
			
<!-- 				<button type="submit" class="btn  btn-primary">Pesquisar</button> -->
<!-- 			</form> -->
			
			<div class="table-responsive  upf-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-emprestimo-col-id">Id</th>
							<th class="table-emprestimo-col-cliente">Cliente</th>
							<th class="table-emprestimo-dataCriacao">Data de criação</th>
							<th class="table-emprestimo-col-status">Status</th>
							<th class="table-emprestimo-dataCriacao">Data de devolução</th>
							
							<th class="table-clientes-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="emprestimo : ${emprestimos}">
							<td th:text="${emprestimo.id}">1</td>
							<td th:text="${emprestimo.cliente.nome}">Guilherme Favero Ferreira</td>
							<td th:text="${{emprestimo.dataRetirada}}">17/01/2020 16:45</td>
							<td th:text="${emprestimo.emprestimoStatus.descricao}">Atrasado</td>
							<td th:text="${{emprestimo.dataDevolucao}}">17/01/2020 16:45</td>
							
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Receber" th:href="@{/emprestimos/{id}(id=${emprestimo.id})}"> 
									<i class="glyphicon glyphicon-ok"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Listar" th:href="@{/emprestimos/expandir/{id}(id=${emprestimo.id})}"> 
									<i class="glyphicon glyphicon-list"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(emprestimos)}">
							<td colspan="5">Nenhum emprestimo encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>