<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

	<div class="upf-tabela-item" th:each="livroEmprestimo : ${livroEmprestimoList}">
		<button type="button" class="close  js-remover-livro" th:id="${livroEmprestimo.livro.id}">
			<i>×</i>
		</button>
		<div class="upf-tabela-item__coluna  upf-tabela-item__coluna--detalhes">
			<span class="upf-tabela-livro-titulo" th:text="${livroEmprestimo.livro.titulo}">Sítio do Pica-Pau Amrelo</span>
			<span class="label  label-default" th:text="${livroEmprestimo.livro.sku}">AA1111</span>
		</div>
	</div>
	
	<script>
		$('.js-remover-livro').on('click', function() {
			var livroId = $(this).attr('id');
			
			var response = $.ajax({
				url: 'removerLivro',
				method: 'POST',
				data: {
					idLivro: livroId
				}
			});
			
			response.done(function(html) {
				var container = $('.js-tabela-livros-container');

				container.html(html);
			})
		})
	
	</script>
	
</html>

