<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Biblioteca</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/atacama.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/upf.css}"/>
</head>
<body>
	<div class="aw-layout-page">
		<th:block th:replace="layout/fragments/Navbar :: navbar"/>
		
		<th:block th:replace="layout/fragments/Sidebar :: sidebar"/>
		
		<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>
		
		<th:block th:replace="layout/fragments/Footer :: footer"/>
	</div>

	<script th:src="@{/layout/javascripts/vendors.js}"></script>
	<script th:src="@{/layout/javascripts/atacama.js}"></script>

	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	
	<script th:src="@{/javascripts/upf.js}"></script>
	<script th:src="@{/javascripts/upf.emprestimo.js}"></script>
</body>
</html>