.upf-emprestimo-control {
	clear: both;
    margin-top: 20px;
}

.upf-tabela-simples {
	margin-top: 15px;
}

.upf-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.upf-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


/* Easy Autocomplete */
.easy-autocomplete input {
	border-radius: 2px !important;
}

.easy-autocomplete-container ul li {
	font-size: 1em !important;
	padding: 0px 5px !important;
}

/* Tabela Item */
.upf-tabela-item {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	
	padding: 15px 0;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.upf-tabela-item:after {
	clear: both;
	display: block;
    content: "";
}

.upf-tabela-item ~ .upf-tabela-item {
	border-top: 1px solid #ddd;
}

.upf-tabela-item__coluna {
	padding: 0 10px;
}

.upf-tabela-item__coluna--valores {
	padding-right: 0px;
}

.upf-tabela-item__coluna--detalhes, .upf-tabela-item__coluna--valores {
	margin-left: 60px;
}

.upf-tabela-livro-titulo {
	font-weight: 500;
	font-size: 1.1em;
	display: block;
}

.upf-tabela-livro-origem {
	color: #aaa;
	display: block;
	font-weight: 200;
}

.upf-tabela-livro-campo-quantidade {
	width: 30px;
	text-align: right;
}

.upf-tabela-livro-valor-pequeno {
	font-weight: 300;
	font-size: 1em;
}

.upf-tabela-livro-valor-medio {
	font-weight: 300;
	font-size: 1.3em;
}

.upf-tabela-livro-valor-grande {
	font-weight: 300;
	font-size: 1.6em;
}

@media (min-width: 768px) { /* screen-sm-min */
	.upf-tabela-item__coluna {
		float: left;
		margin-left: 0px;
	}
	
	.upf-tabela-item__coluna--detalhes {
		width: calc(70% - 30px);
	}
	
	.upf-tabela-item__coluna--valores {
		width: calc(30% - 30px);

		text-align: right;
	}
}
