<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Cadastro de cliente</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de cliente
				</h1>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${cliente}" class="form-vertical  js-form-loading">
				<upf:message/>
				
				<div class="row">
					<div class="col-sm-3  form-group" upf:classforerror="nome">
						<label for="nome">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-2  form-group" upf:classforerror="cep">
						<label for="cep">Cep</label>
						<input id="cep" type="text" class="form-control" th:field="*{cep}"/>
					</div>
					
				</div>

				<div class="row">
					<div class="col-sm-5  form-group" upf:classforerror="logradouro">
						<label for="logradouro">Logradouro</label>
						<input id="logradouro" type="text" class="form-control" th:field="*{logradouro}"/>
					</div>
					
					<div class="col-sm-1  form-group" upf:classforerror="numero">
						<label for="numero">Número</label>
						<input id="numero" type="text" class="form-control" th:field="*{numero}"/>
					</div>

				</div>
				
				<div class="row">
					<div class="col-sm-6  form-group" upf:classforerror="bairro">
						<label for="bairro">Bairro</label>
						<input id="bairro" type="text" class="form-control" th:field="*{bairro}"/>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6  form-group">
						<label for="complemento">Complemento</label>
						<textarea id="complemento" rows="3" class="form-control" th:field="*{complemento}"></textarea>
					</div>			
				</div>

				<div class="row">
					<div class="col-lg-2  col-sm-2  form-group">
						<label for="deveEmprestimo">Deve empréstimo</label>
						<div>
							<div class="radio  radio-inline">
								<input type="radio" name="deveEmprestimo" th:field="*{deveEmprestimo}" th:value="true"> 
								<label>Sim</label>
							</div>
							<div class="radio  radio-inline">
								<input type="radio" name="deveEmprestimo" th:field="*{deveEmprestimo}" th:value="false">
								<label>Não</label>
							</div>
						</div>
					</div>
					
					<div class="col-lg-2  col-sm-2  form-group">
						<label for="devePenalidade">Deve multa</label>
						<div>
							<div class="radio  radio-inline">
								<input type="radio" name="deveMulta" th:field="*{deveMulta}" th:value="true"> 
								<label>Sim</label>
							</div>
							<div class="radio  radio-inline">
								<input type="radio" name="deveMulta" th:field="*{deveMulta}" th:value="false"> 
								<label>Não</label>
							</div>
						</div>
					</div>
				</div>
					
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a th:href="@{/clientes}" class="btn  btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</section>
</body>
</html>