<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Pesquisa de clientes</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de cliente</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/clientes/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo cliente</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="GET" th:object="${clienteFilter}">
				<div class="row">
					<div class="form-group  col-sm-3" >
						<label class="control-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-sm-3">
						<label class="control-label" for="cep">Cep</label>
						<input type="text" class="form-control" id="cep" th:field="*{cep}"/>
					</div>
				</div>
				
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>
			
			<div class="table-responsive  upf-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-clientes-col-nome">Nome</th>
							<th class="table-clientes-col-deveEmprestimo">Deve empréstimo</th>
							<th class="table-clientes-col-deveMulta">Deve multa</th>
							
							<th class="table-clientes-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="cliente : ${clientes}">
							<td th:text="${cliente.nome}">Marcos</td>
							<td th:text="${cliente.deveEmprestimo} ? 'Sim' : 'Não'">true</td>
							<td th:text="${cliente.deveMulta} ? 'Sim' : 'Não'">false</td>
							
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/clientes/{id}(id=${cliente.id})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir" th:href="@{/clientes/excluir/{id}(id=${cliente.id})}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(clientes)}">
							<td colspan="5">Nenhum cliente encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>