<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<body>
	<aside class="aw-layout-sidebar  js-sidebar" th:fragment="sidebar">
		<div class="aw-layout-sidebar__content">
			<nav class="aw-menu  js-menu">
				<ul class="aw-menu__list">
			
					<li class="aw-menu__item">
						<a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
					</li>
			
					<li class="aw-menu__item  is-active">
						<a href="#">
							<i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
					
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/autores}">Autores</a></li>
							<li class="aw-menu__item  aw-menu__item--link  is-active"><a th:href="@{/livros}">Livros</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/clientes}">Clientes</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/emprestimos}">Emprestimos</a></li>
						</ul>
					</li>
			
					<li class="aw-menu__item  is-expanded">
						<a href="#">
								<i class="fa  fa-fw  fa-file-text"></i><span>Páginas comuns</span>
								<i class="aw-menu__navigation-icon  fa"></i>
						</a>
			
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link"><a href="pagina-vazia.html">Página vazia</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a href="login.html">Login</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a href="esqueceu-a-senha.html">Esqueceu a senha</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a href="403.html">403</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a href="404.html">404</a></li>
							<li class="aw-menu__item  aw-menu__item--link"><a href="500.html">500</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</aside>
</body>
</html>