<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Cadastro de autor</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de autor
				</h1>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${autor}" class="form-vertical  js-form-loading">
				<upf:message/>
			
				<div class="row">
					<div class="col-sm-6  form-group" upf:classforerror="nome">
						<label for="nome">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a th:href="@{/autores}" class="btn  btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</section>
</body>
</html>