<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Pesquisa de autores</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de autores</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/autores/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo autor</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container-fluid">
			<form method="GET" th:object="${autorFilter}">
				<upf:message/>
			
				<div class="row">
					<div class="form-group  col-sm-6" >
						<label class="control-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
					</div>
				</div>
				
				
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>
			
			<div class="table-responsive  upf-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-nome">Nome</th>
							<th class="table-cervejas-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="autor : ${autores}">
							<td th:text="${autor.nome}">Machado de Assis</td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/autores/{id}(id=${autor.id})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir" th:href="@{/autores/excluir/{id}(id=${autor.id})}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(autores)}">
							<td colspan="5">Nenhum autor encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</section>
</body>
</html>