<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Cadastro de Livro</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de livro
				</h1>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${livro}" class="form-vertical  js-form-loading">
				<upf:message/>
			
				<div class="row">
					<div class="col-sm-3  form-group" upf:classforerror="sku">
						<label for="sku">Sku</label>
						<input id="sku" type="text" class="form-control" th:field="*{sku}"/>
					</div>
				</div>
			
				<div class="row">
					<div class="col-sm-6  form-group" upf:classforerror="titulo">
						<label for="titulo">Título</label>
						<input id="titulo" type="text" class="form-control" th:field="*{titulo}"/>
					</div>
				
					<div class="col-sm-6  form-group" upf:classforerror="autor">
						<label for="autor" class="control-label">Autor</label>
						<select id="autor" class="form-control" th:field="*{autor}">
							<option th:if="${livro.autor == null}" th:value="${null}">Selecione o autor</option>
							<option th:if="${livro.autor != null}" th:value="${livro.autor.id}" th:text="${livro.autor.nome}">Autor existente</option>
							<option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nome}">Autor</option>
						</select>
					</div>
				</div>
	
				<div class="row">
					<div class="col-lg-3  col-sm-3  form-group">
						<label for="disponivel">Disponibilidade</label>
						<div>
							<div class="radio  radio-inline">
								<input type="radio" name="disponibilidade" th:field="*{disponivel}" th:value="true"> 
								<label>Disponível</label>
							</div>
							<div class="radio  radio-inline">
								<input type="radio" name="disponibilidade" th:field="*{disponivel}" th:value="false">
								<label>Indisponível</label>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group" upf:classforerror="sinopse">
					<label for="sinopse">Sinopse</label>
					<textarea id="sinopse" rows="3" class="form-control" th:field="*{sinopse}"></textarea>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a th:href="@{/livros}" class="btn  btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</section>
</body>
</html>