<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:upf="https://www.github.com/FaveroFerreira">

<head>
	<title>Pesquisa de livros</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de livros</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/livros/novo}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo livro</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container-fluid">
			<form method="GET" th:object="${livroFilter}">
				<upf:message/>
			
				<div class="row">
					<div class="form-group  col-sm-1" >
						<label class="control-label" for="sku">Sku</label>
						<input type="text" class="form-control" id="sku" th:field="*{sku}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-sm-3">
						<label class="control-label" for="titulo">Titulo</label>
						<input type="text" class="form-control" id="titulo" th:field="*{titulo}"/>
					</div>
					
					<div class="form-group  col-sm-3" >
						<label class="control-label" for="nome">Nome do Autor</label>
						<input type="text" class="form-control" id="autor" th:field="*{autor}"/>
					</div>
				</div>
				
				
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>
			
			<div class="table-responsive  upf-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-livros-col-sku">Sku</th>
							<th class="table-livros-col-titulo">Título</th>
							<th class="table-livros-col-autor">Autor</th>
							<th class="table-livros-col-disponibilidade">Disponibilidade</th>
							<th class="table-cervejas-col-acoes"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="livro : ${livros}">
							<td th:text="${livro.sku}">AA1111</td>
							<td th:text="${livro.titulo}">Senhor dos Aneis</td>
							<td th:text="${livro.autor.nome}">Tolkien</td>
							<td th:text="${livro.disponivel} ? 'Disponível' : 'Indisponível'">Disponivel</td>
							
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/livros/{id}(id=${livro.id})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir" th:href="@{/livros/excluir/{id}(id=${livro.id})}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(livros)}">
							<td colspan="5">Nenhum livro encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</section>
</body>
</html>